.about-div{
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px;
}

#about .khairul-btn1{
    width: 100%;
}

#about-top img{
    border-radius: 50%;
    width: 250px;
    height: auto;
    padding: 15px;
}

#about-title-desc{
    align-self: center;
    min-width: 230px;
    max-width: 300px;
}

.extra-info{
    margin: 0 10px 10px 10px;
    width: 240px;
}

.expandable-div{
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    background-color: rgb(36, 36, 36);
    border-radius: 0 0 6px 6px;
}

.expandable-div figure{
    padding: 15px 0;
}

.expandable-div img{
    width: 80px;
    height: auto;
    margin-bottom: 5px;
}

.expandable-div figcaption{
    font-size: 13px;
    font-style: italic;
}

@media screen and (max-width: 595px){
    #about-title-desc{
        text-align: center;
        margin: none;
    }

    #about-top img{
        width: 220px;
    }
}

@media screen and (min-width: 651px){
    .expandable-div img{
        display: none;
    }

    .expandable-div figcaption{
        font-style: normal;
        font-size: 15px;
    }
}