#experiences figure{
    margin: 10px;
    width: 230px;
}

#experiences figcaption{
    font-size: 15px;
    color: #aaa;
}

.experiences-div{
    justify-content: center;
    align-items: flex-start;
}

#experiences img{
    position: relative;
    width: 230px;
    height: auto;
    border-radius: 2px;
    margin-bottom: 7px;
}

#experiences p{
    text-align: center;
    padding: 0 30px;
}

#experiences .khairul-btn2{
    margin: 15px auto;
}

@media screen and (max-width: 320px){
    #experiences img{
        width: 200px;
    }
}