footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3vh;
    padding: 5px;
}

footer h1{
    background: linear-gradient(141deg, rgb(12, 204, 224) 0%, rgb(12, 179, 236) 75%);
    font-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}