#top{
    background: url("../img/header-img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

header{ 
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 30px;
    text-align: center;
}

header h1{
    background: linear-gradient(141deg, rgb(12, 203, 219), rgb(0, 232, 156));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    min-width: 250px;
    letter-spacing: 0.02em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h5{
    min-width: 231px;
    font-size: 16px;
}

nav{
    background-color: rgba(0, 0, 0, 0);
    height: 49px;
}

#nav-buttons{
    min-width: 250px;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
}

#nav-buttons ul{
    justify-content: space-evenly;
    align-content: center;    
}

#nav-buttons li{
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 730px){
    header h1{
        font-size: 50px;
        letter-spacing: 0;
    }

    header h4{
        font-size: 13px;
    }

    header h5{
        font-size: 14px;
    }
}