#send-mail .flex-col-nowrap{
    justify-content: center;
    align-items: center;
}

#email-constructor{
    width: 100%;
    margin-bottom: 30px;
}

.input-form{
    border: none;
    border-radius: 4px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 5px 0;
    width: 90%;
    max-width: 650px;
    resize: none;
}

#send-mail button{
    width: 100%;
}
