* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Arial Narrow Bold', sans-serif;
    color: white;
}

.base-color{
    background-color: rgb(20, 20, 20);
}

.content-section{
    margin: 55px 0;
    padding: 20px 30px;
    text-align: center;
}

.flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
}

.flex-row-nowrap{
    display: flex;
    flex-flow: row nowrap;
}

.flex-col-wrap{
    display: flex;
    flex-flow: column wrap;
}

.flex-col-nowrap{
    display: flex;
    flex-flow: column nowrap;
}

.flex-constrainer{
    max-width: 840px;
    min-width: 280px;
    margin: 0 auto;
}

.inpage-link{
    color: white;
    font-size: 13px;
    letter-spacing: 0.15em;
    padding: 10px 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

button{
    font-size: 17px;
    font-weight: bold;
    text-align: center;

}

.khairul-btn1{
    background-color: rgb(17, 121, 224);
    background-image: linear-gradient(141deg, rgb(12, 203, 219), rgb(17, 121, 224));
    border: none;
    border-radius: 6px;
    color: white;
    padding: 12px;
    max-width: 236px;
    width: 100%;
    letter-spacing: 0.10em;
}

.khairul-btn2{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(12, 161, 219);
    border-radius: 100px;
    color: rgb(12, 161, 219);
    padding: 7px;
    max-width: 185px;
    width: 100%;
    letter-spacing: 0.05em;
}

.disable-btn1{
    background-color: rgba(0, 0, 0);
    background-image: linear-gradient(141deg, rgba(12, 203, 219, 0.50), rgba(17, 121, 224, 0.50));
    color: rgba(255, 255, 255, 0.50);
}

.section-title{
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}

.section-description{
    text-align: justify;
    color: #aaa;
    margin-bottom: 15px;
    font-size: 18px;
}

.clickable{
    cursor: pointer;
}

@media screen and (min-width: 1366px){
    .inpage-link:after{
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .inpage-link:hover:after{
        width: 100%; 
        left: 0;
    }
}

/* Buat ngilangin 000webhost */
img[alt="www.000webhost.com"]{
    display: none;
}