.media{
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.media button{
    margin: 10px 15px;
    border-radius: 100px;
}

.works-div{
    justify-content: center;
    align-items: flex-start;
}

.works-items{
    width: 350px;
    height: 200px;
    border-radius: 6px;
    margin: 10px;
    overflow-y: hidden;
}

.works-items h3{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px;
    vertical-align: center;
}

.works-div + .khairul-btn2{
    margin: 17px auto;
}